body {
  padding: 0;
  margin: 0;
}

header {
  position: relative;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  width: 99%;
  background: orange;
  margin: auto;
  padding: 20px 0px 20px 0px;
  border-style: dotted;
  border-width: 5px;
  border-color: white;
  letter-spacing: 5px;
}

nav a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: grey;
}

.description {
  background: #fce5b3;
  padding: 10px;
  border-style: none;
  border-radius: 5px;
}

#thanks {
  width: 95%;
  margin: auto;
}

#homelink {
  margin-left: 30px;
}

/* Media query for phone screens. */
@media screen and (max-width: 480px) {

  header {
    max-width: 97%;
    margin: auto;
  }

  img {
    display: block;
    margin: auto;
    max-width: 98%;
  }

  nav {
    padding: 5px;
    text-align: center;
  }

  .description {
    width: 95%;
  }

  #intro {
    float: none;
    width: 95%;
    margin: auto;
  }

  #list {
    width: 95%;
    margin: auto;
  }

  form {
    width: 95%;
    margin: 20px;
  }
}

/* Media query for desktop screens. */
@media only screen and (min-width: 481px) {

  body {
    background-image: url("../images/squirrel-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 15% 100%;
  }

  img {
    display: block;
    float: left;
    margin: 5px;
  }

  nav {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  #intro {
    margin: 0px 30px 0px 0px;
    width: 60%;
    float: right;
  }

  #list {
    float: right;
    margin-right: 30px;
    width: 30%;
  }

  form {
    float: left;
    padding: 25px;
  }
}